<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Sentimental Stock</title>
    <link rel='stylesheet' href='https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="shortcut icon" href="favic.ico" type="image/x-icon">
</head>

<body>
    <!-- <h1><%= user.username %></h1> -->
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <header class="header">
        
        <a href="#" class="logo lomgo">StockPulse</a>
        <nav class="nav-items">
            
            <a href="/logout" id="mainbtn">LogOut</a>
            <a href="#">Home</a>
            <a href="javascript: document.body.scrollIntoView(false);">Contact</a>
        </nav>
    </header>
    <main>
        <!-- <div class="intro">
            <h1>A Web Developer</h1>
            <p>I am a web developer and I love to create websites.</p>
            <button>Learn More</button>
        </div> -->
        <div class="about-me" >
            <div class="about-me-text">
                <h2>Real Time Sentiment Analysis for Smarter Investing</h2>
                
                <button class="go"><a href="#moveon" id="dig">Discover our Suite</a></button>
                <!-- <p>Join our medical web platform and get access to accurate and timely prognoses for severe yet curable
                    diseases and personalized health recommendations.</p> -->
            </div>
            <img src="81.png" alt="me" width="150%">
        </div>
        <div id="med">
        <span class="logo lomgo">Hii!! <%= user.username %> </span>
        </div>
        <div class="him">
            <div class="weare">
                Make informed investment decisions with our powerful sentiment analysis tool , delivering real-time insights into
                market
                and trends .
            </div>
        </div>
        
        <div class="achievements">
            <div class="work">
                <img src="div.png" alt="" srcset="">
                <p class="work-heading">Report</p>
                <p class="work-text">Tested by 80+ personalized reports</p>
            </div>
            <div class="work">
                <img src="div-1.png" alt="" srcset="">
                <p class="work-heading">Protected</p>
                <p class="work-text">User's Data is stored secure and encrypted </p>
            </div>
            <div class="work">
                <img src="Frame.png" alt="heloooo" height="48px">
                <p class="work-heading">Data analysis</p>
                <p class="work-text">2+ million Data has been Analyzed .</p>
            </div>
            <div class="work">
                <img src="div-3.png" alt="" srcset="">
                <p class="work-heading">Research</p>
                <p class="work-text">Break Through Research</p>
            </div>

        </div>
        <center>
            <h1 class="inm">In the Markets</h1>
        </center>
        <center class="spot">Spotlight on current market sentiments</center>
        <center><img src="image.png" alt="" srcset=""></center>
        <center><span class="hello" id="moveon"></span></center>
        <center class="hal" >SENTIMENT ANALYSIS</center>
        <center class="hall">Quality Data + Powerful Analytics</center>
        
        <div class="ag-format-container redirect-btn">
            
            <a href="/new" alt="Mythrill"  class="one">
                
                <div class="card">
                    <div class="wrapper">
                        <img src="b2.jpg" alt="halw" srcset="" width="200px" height="282px">
                        <!-- <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-cover.jpg" class="cover-image" /> -->
                    </div>
                    <!-- <img src="bb1.png" alt="boys" srcset="" class="character"> -->
                    <!-- <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-title.png" class="title" />
                    <img src="https://ggayane.github.io/css-experiments/cards/dark_rider-character.webp" class="character" /> -->
                </div>
                <span class="des">&nbsp;&nbsp;&nbsp;New prediction</span>
                <br>
                <span class="arro">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rarr;</span>

            </a>
            
            <a href="/previous" alt="Mythrill" class="two">
                
                <div class="card">
                    <div class="wrapper">
                        <!-- <img src="https://source.unsplash.com/200x282/?stock-market" alt="boys" srcset="" class="cover-image"> -->
                        <img src="b1.jpg" alt="halwa" srcset="" width="200px" height="282px">
                        <!-- <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg" class="cover-image" /> -->
                    </div>
                    <!-- <img src="https://source.unsplash.com/200x282/?stock-market" alt="boys" srcset="" class="title"> -->
                    <!-- <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png" class="title" /> -->
                    <!-- <img src="bb1.png" alt="boys" srcset="" class="character"> -->
                    <!-- <img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp" class="character" /> -->
                </div>
                <span class="des">View Previous Predictions</span>
                <br>
                <span class="arro">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&rarr;</span>
            </a>
            <!-- <div class="ag-courses_box">
                <div class="ag-courses_item">
                    <a href="/bloods/new" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            New Stock Prediction
                        </div>

                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                04.11.2022
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a href="/xrayreport" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Previous stock prediction
                        </div>

                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                04.11.2022
                            </span>
                        </div>
                    </a>
                </div> -->

                <!-- <div class="ag-courses_item">
                    <a href="/recoveryreport" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Recovery rate prediction
                        </div>

                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                04.11.2022
                            </span>
                        </div>
                    </a>
                </div>

                <div class="ag-courses_item">
                    <a href="/communitypoll" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>

                        <div class="ag-courses-item_title">
                            Community Support
                        </div>

                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                04.11.2022
                            </span>
                        </div>
                    </a>
                </div> -->

                <!-- <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Motion Design
                        </div>
        
                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                30.11.2022
                            </span>
                        </div>
                    </a>
                </div> -->

                <!-- <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Front-end development&#160;+ jQuery&#160;+ CMS
                        </div>
                    </a>
                </div> -->

                <!-- <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg">
                        </div>
                        <div class="ag-courses-item_title">
                            Digital Marketing
                        </div>
                    </a>
                </div> -->

                <!-- <div class="ag-courses_item">
                    <a href="#" class="ag-courses-item_link">
                        <div class="ag-courses-item_bg"></div>
        
                        <div class="ag-courses-item_title">
                            Interior Design
                        </div>
        
                        <div class="ag-courses-item_date-box">
                            Start:
                            <span class="ag-courses-item_date">
                                31.10.2022
                            </span>
                        </div>
                    </a>
                </div> -->

            </div>
        </div>
    </main>
    <!-- <img src="https://source.unsplash.com/200x282/?stock-market" alt="boys" srcset=""> -->
    <!-- <div class="new">
        <figure>
            <img src="https://picsum.photos/id/287/250/300" alt="Mountains">
            <figcaption>The Day</figcaption>
        </figure>
        <figure style="--c:#fff5">
            <img src="https://picsum.photos/id/475/250/300" alt="Mountains">
            <figcaption>The Night</figcaption>
        </figure>
    </div> -->
    
    <footer class="footer">
        <div class="copy">&copy; Developed Under HackFest 23'</div>
        <div class="bottom-links">
            <div class="links">
                <span>Developer</span>
                <a href="#">Vibhanshu Sharma</a>
                <a href="#">Digvijay Anand</a>
                <a href="#">Krish Sahu</a>
                <a href="#">Dheemant Dixit</a>
                <a href="#">Himanshu Mittal</a>
            </div>
            <div class="links">
                <span>More Info</span>
                <a href="#">Home</a>
                <a href="javascript: document.body.scrollIntoView(false);">About</a>
                <a href="/authentication" onclick="hh()" id="maintn">LogIn/SignUp</a>
            </div>
            <div class="links">
                <span>Social Links</span>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.1/firebase-auth.js"></script>
    <script src="/defaut.js"></script>
    <script src="/asdf.js"></script>
</body>

</html>